Nifi/validation_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>2f7d413f-019a-1000-1334-5d995cc2a55b</groupId>
    <name>validation_template</name>
    <snippet>
        <connections>
            <id>6450d69f-da6f-3cb2-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>6450d69f-da6f-3cb2-87af-28cd807650ad</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>6bc7a148-f854-3c3a-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>6bc7a148-f854-3c3a-8637-8191ecc01cf1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>3c9c3091-1161-386e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3c9c3091-1161-386e-8f2e-497cb249d81e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8a70c72a-96bd-3dc5-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>8a70c72a-96bd-3dc5-b101-f713ea19d946</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>e7f3a1d3-5055-3f5e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e7f3a1d3-5055-3f5e-b195-568253bd7476</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Failure</selectedRelationships>
            <selectedRelationships>No Retry</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>ec2ab650-8183-36be-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ec2ab650-8183-36be-a67d-fbe930b1ebac</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9a72c653-94bb-397b-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>9a72c653-94bb-397b-ae7a-42572fa05fd0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>c817818f-dd9c-37b9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c817818f-dd9c-37b9-bdb6-19443c99e860</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>3c9c3091-1161-386e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3c9c3091-1161-386e-8f2e-497cb249d81e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a234b021-1811-3f9f-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>a234b021-1811-3f9f-9aae-e19b2f4bff0d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>38c95b69-f42b-3299-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>38c95b69-f42b-3299-b7d8-58608ae172a0</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>c817818f-dd9c-37b9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c817818f-dd9c-37b9-bdb6-19443c99e860</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a6458bd7-4f67-3f2d-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>a6458bd7-4f67-3f2d-b6ef-590d025af34f</versionedComponentId>
            <backPressureDataSizeThreshold>100MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>0a6e2e49-e216-339c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a6e2e49-e216-339c-84db-aafb8f5f0cac</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Original</selectedRelationships>
            <selectedRelationships>Response</selectedRelationships>
            <selectedRelationships>Retry</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>ec2ab650-8183-36be-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ec2ab650-8183-36be-a67d-fbe930b1ebac</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cb973472-bdf8-3366-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>cb973472-bdf8-3366-a0cf-274e6d51e9e9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>7fb47f80-3b42-3487-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7fb47f80-3b42-3487-8a2e-0254f8d910e7</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>0a6e2e49-e216-339c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a6e2e49-e216-339c-84db-aafb8f5f0cac</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e9450434-6e68-3c29-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>e9450434-6e68-3c29-9b97-bef415694a9f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>3c9c3091-1161-386e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3c9c3091-1161-386e-8f2e-497cb249d81e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>c2515e46-d15c-3905-0000-000000000000</groupId>
                <id>0a6e2e49-e216-339c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0a6e2e49-e216-339c-84db-aafb8f5f0cac</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>a3a8e7cb-9a66-3ef9-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>a3a8e7cb-9a66-3ef9-8fd8-b3dfff40a09e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>beb23fc5-c69a-3d19-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <versionedComponentId>beb23fc5-c69a-3d19-a530-598bc50dcd67</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>
                        <name>Allow Scientific Notation</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processors>
            <id>0a6e2e49-e216-339c-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>8.0</y>
            </position>
            <versionedComponentId>0a6e2e49-e216-339c-84db-aafb8f5f0cac</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-attribute</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>warn</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>100 MB</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>38c95b69-f42b-3299-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>1400.0</x>
                <y>784.0</y>
            </position>
            <versionedComponentId>38c95b69-f42b-3299-b7d8-58608ae172a0</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>3c9c3091-1161-386e-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>880.0</x>
                <y>304.0</y>
            </position>
            <versionedComponentId>3c9c3091-1161-386e-8f2e-497cb249d81e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>
                            <name>JSON Handling Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-content</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Pretty Print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>ESCAPED</value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>6bc7a148-f854-3c3a-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>896.0</x>
                <y>608.0</y>
            </position>
            <versionedComponentId>6bc7a148-f854-3c3a-8637-8191ecc01cf1</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>7fb47f80-3b42-3487-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>7fb47f80-3b42-3487-8a2e-0254f8d910e7</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>c817818f-dd9c-37b9-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>1392.0</x>
                <y>544.0</y>
            </position>
            <versionedComponentId>c817818f-dd9c-37b9-bdb6-19443c99e860</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-2-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                        <value>
                            <name>message-key-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>flights_positions</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>a3a8e7cb-9a66-3ef9-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>beb23fc5-c69a-3d19-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 GB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafkaRecord_2_0</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
        </processors>
        <processors>
            <id>e7f3a1d3-5055-3f5e-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>592.0</y>
            </position>
            <versionedComponentId>e7f3a1d3-5055-3f5e-b195-568253bd7476</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>ec2ab650-8183-36be-0000-000000000000</id>
            <parentGroupId>c2515e46-d15c-3905-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>312.0</y>
            </position>
            <versionedComponentId>ec2ab650-8183-36be-a67d-fbe930b1ebac</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>
                            <name>Socket Write Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>x-openaip-api-key</key>
                        <value>
                            <name>x-openaip-api-key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://api.core.openaip.net/api/airports</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>x-openaip-api-key</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
    </snippet>
    <timestamp>10/30/2025 08:11:27 UTC</timestamp>
</template>
